@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .tailwind p a {
    @apply text-blue-600 hover:text-blue-800;
  }
}

#app {
  max-width: 1280px;
  padding: 1rem;
  padding-left: 0;
  text-align: center;
}

.wp-person a:focus .gravatar, a:focus, a:focus .media-icon img, a:focus .plugin-icon {
  color: #043959;
  box-shadow: none !important;
  outline: none !important;
}

.content-column svg:not(.no-gradient), .hover-gradient-ucss:hover, svg.animate-spin {
  fill: url(#gradient_ucss)!important;
}

.text-raisin {
  color:#1B1725;
}

.fill-raisin {
  fill:#1B1725;
}